.mysuperParagraph {   
    
}

#nav {
    background-color: darkblue;
    color: #fff;
}

#hello {
   background-color: burlywood;
}

#goodbye {
    background-color: aqua;
}

#first {
  background-color: bisque;  
}

#sec {
  background-color: yellow;  
}

#third {
  background-color: greenyellow;  
}


#red {
  background-color: indianred;  
}

#blue {
  background-color: blue;  
}

#green {
  background-color: limegreen;  
}

#yellow {
  background-color: lightyellow;  
}